{% extends "base.html" %}

{% block content %}
  <div class="container" id="blog-posts">

  {% for post in posts %}
    <div class="blog-post">
      <h1>{{ post.title }}</h1>
      <p class="blog-post-date">
        Posted at <span class="date">{{ post.created_at }}</span>
        by <span class="user">{{ post.author }}</span>
      </p>

      {{ post.body|safe }}
    </div>
  {% endfor %}

    <div class="pagination">
      <span class="step-links">
        {% if posts.has_previous %}
        <a href="{% url 'blog_post_list' page=posts.previous_page_number %}">Previous</a>
        {% endif %}

        <span class="current">
          Page {{ posts.number }} of {{ posts.paginator.num_pages }}
        </span>

        {% if posts.has_next %}
          <a href="{% url 'blog_post_list' page=posts.next_page_number %}">Next</a>
        {% endif %}
      </span>
    </div>

  </div>
{% endblock %}
